@media screen and (max-width: 768px) {
    /* ヘッダー */
    header {
        position: absolute;
        z-index: 10;
    }
    .contents {
        height: 125px;
    }
    .header-left {
        height: 125px;
    }
    .header-right {
        display: initial;
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        text-align: center;
        padding: 50px 5px 0;
        position: relative;
        right: -300px;
        transition: 0.5s;
    }
    .header-right a {
        color: #fff;
        display: block;
        transition: all 0.5s;
        border-bottom: 2px solid #d7cebb;
    }
    .header-right a:hover {
        background-color: #d7cebb;
    }
    /* ヘッダー🍔 */
    .open {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        display: block;
        font-size: 50px;
        height: 5px;
        line-height: 50px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 20px;
        width: 30px;
        z-index: 10;
        transition: 0.5s;
    }
    .open::before,
    .open::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        display: block;
        height: 5px;
        width: 30px;
        position: absolute;
    }
    .open::before {
        top: -10px;
        transition: 0.5s;
    }
    .open::after {
        top: 10px;
        transition: 0.5s;
    }
    #menu {
        display: none;
    }
    #menu:checked ~ .open,
    #menu:checked ~ .open::before,
    #menu:checked ~ .open::after {
        background-color: #fff;
        transition: 0.5s;
    }
    #menu:checked ~ .open { 
        background: rgba(0, 0, 0, 0.01);
    }
    #menu:checked ~ .open::before {
        transform: rotate(135deg);
        transition: 0.5s;
        top: 0px;
    }
    #menu:checked ~ .open::after {
        transform: rotate(-135deg);
        transition: 0.5s;
        top: 0px;
    }
    #menu:checked ~ .header-right {
        right: 0;
        transition: 0.5s;
    }



    /* メニュー */
    .grid {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr 1fr;
        text-align: center; 
        margin: 60px 60px;
    } 
    .item {
        border: 2px solid rgba(0, 0, 0, 0.7);
    }
}